[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/libpng"]
	path = vendor/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "vendor/eigen"]
	path = vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/zlib-ng"]
	path = vendor/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
